Файлы проекта схем/Архив/Мед помощь при диспансер.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ZL_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="ZGLV">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="VERSION">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="5" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="DATA">
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="FILENAME">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="26" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" name="SCHET">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="CODE">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="8" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="100000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="CODE_MO">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="6" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="YEAR">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="4" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="MONTH">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="100" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="NSCHET">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="DSCHET">
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="PLAT">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="5" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="SUMMAV">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000000000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="COMENTS">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="SUMMAP">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000000000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="SANK_MEK">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000000000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="SANK_MEE">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000000000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="SANK_EKMP">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10000000000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="DISP">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="3" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="ZAP">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="N_ZAP">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="8" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="100000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="PR_NOV">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="1" />
                    <xs:minInclusive value="0" />
                    <xs:maxExclusive value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="PACIENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="ID_PAC">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="36" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="VPOLIS">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="1" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SPOLIS">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="10" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="NPOLIS">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ST_OKATO">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="5" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SMO">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="5" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SMO_OGRN">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="15" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SMO_OK">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="5" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SMO_NAM">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="100" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NOVOR">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="100" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="SLUCH">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="IDCASE">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="11" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="100000000000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="VIDPOM">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="4" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="LPU">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="6" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="LPU_1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="8" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="NHISTORY">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="P_OTK">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="1" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DATE_1">
                      <xs:simpleType>
                        <xs:restriction base="xs:date" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DATE_2">
                      <xs:simpleType>
                        <xs:restriction base="xs:date" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DS1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="10" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="RSLT_D">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="IDSP">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ED_COL">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="5" />
                          <xs:fractionDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="1000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TARIF">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="15" />
                          <xs:fractionDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10000000000000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="SUMV">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="15" />
                          <xs:fractionDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10000000000000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OPLATA">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="1" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SUMP">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="15" />
                          <xs:fractionDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10000000000000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SANK_IT">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="15" />
                          <xs:fractionDigits value="2" />
                          <xs:minInclusive value="0" />
                          <xs:maxExclusive value="10000000000000" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SANK">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" name="S_CODE">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="S_SUM">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="10000000000000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="S_TIP">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="1" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="S_OSN">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="3" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="1000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="S_COM">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="250" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="S_IST">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="1" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="USL">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" name="IDSERV">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="LPU">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="LPU_1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="DATE_IN">
                            <xs:simpleType>
                              <xs:restriction base="xs:date" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="DATE_OUT">
                            <xs:simpleType>
                              <xs:restriction base="xs:date" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="CODE_USL">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TARIF">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="10000000000000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="SUMV_USL">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="10000000000000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="PRVS">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="9" />
                                <xs:minInclusive value="0" />
                                <xs:maxExclusive value="1000000000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" name="CODE_MD">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="COMENTU">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="250" />
                                <xs:minLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="COMENTSL">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="250" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>